/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fraunces', serif;
  background: var(--Cream);
}

.card {
  width: 550px;
  height: 400px;
  display: flex;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 50%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
}

.info {
  width: 50%;
  padding: 25px;
  background-color: var(--White);
}

.info .perfume {
  color: var(--Dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.info h1 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 30px;
}

.info .paragraph {
  color: var(--Dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.7;
}

.pricing {
  position: relative;
}

.pricing .old {
  position: absolute;
  top: 5px;
  left: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}

.pricing .new {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--Dark-cyan);
}

.pricing button {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--White);
  background-color: var(--Dark-cyan);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.pricing button:hover {
  background-color: hsl(158, 36%, 20%);
}

.pricing button i {
  vertical-align: middle;
}

.pricing button i svg {
  height: 25px;
}

@media (max-width: 375px) {
  .card {
    width: 300px;
    height: 700px;
    flex-direction: column;
    margin: 20px 0;
  }

  .image {
    width: 100%;
    height: 30%;
  }

  .info {
    width: 100%;
    height: 70%;
  }
}